<div name = "favorites" class ="text-warning" *ngIf = "favorites?.length > 0">
  <h2 class="ml-3">Favorites</h2>
  <ul class="list-unstyled m-3">
    <li class="card card-body mb-2 bg-light" *ngFor="let favorite of favorites">
      <h3 >{{favorite.name}}
        <small class="float-right ml = 3">
          <button (click)="removeFromFavorites(favorite)" class="btn-dark btn-sm btn">
            <i class="fa fa-star remFav"></i>
          </button>
        </small>
      </h3>
    </li>
  </ul>
</div>
<div name = "currencies">
  <h2 class="ml-3">Currencies</h2>
  <ul class="list-unstyled m-3">
    <li class="card card-body mb-2 bg-light" *ngFor="let currency of currencies">
      <h3>#{{currency.rank}} {{currency.name}}
        <small class="float-right ml = 3">
          <button [disabled] = "currency.isFavorite" [class.light] = "currency.isFavorite" (click)="addToFavorites(currency)" class="btn-dark btn-sm btn">
            <i class="fa fa-star addFav"></i>
          </button>
          <button (click)="toggleHide(currency)" class="btn-dark btn-sm">
            <i [ngClass]="currency.hide ? 'fa fa-plus': 'fa fa-minus'"></i>
          </button>
        </small>
      </h3>
      <ul class="list-group" *ngIf="!currency.hide">
        <li class="list-group-item">Value: {{currency.quotes.USD.price |currency}}</li>
        <li class="list-group-item">Market Cap: {{currency.quotes.USD.market_cap |currency}}</li>
        <li class="list-group-item">Value: {{currency.quotes.USD.volume_24h |currency}}</li>
      </ul>
    </li>
  </ul>
</div>