<div class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Crypto King</a>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/currencies" class="nav-link">Currencies</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/mycoins" class="nav-link">MyCoins</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/graphs" class="nav-link">Graphs</a>
        </li>
      </ul>
    </div>
  </div>
</div>
