<div *ngIf="currencies != undefined">
  <tabset type="pills" *ngFor="let wallet of wallets">
    <div class="container card">
      <tab [heading]="wallet.name">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Coin</th>
              <th scope="col">Ammount</th>
              <th scope="col">Value($)</th>
              <th scope="col">Sell</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Dollars</td>
              <td>{{ wallet.dollars }}</td>
              <td>{{ wallet.dollars }}</td>
              <td></td>
            </tr>
          </tbody>
          <tbody *ngFor="let coin of wallet.coins">
            <tr
              *ngIf="
                getCoinValue(coin.id, coin.ammount) > MINIMUM_DISPLAY_VALUE
              "
            >
              <td scope="row">{{ getCoinName(coin.id) }}</td>
              <td>{{ coin.ammount }}</td>
              <td>{{ getCoinValue(coin.id, coin.ammount) }}</td>
              <td>
                <button
                  class="btn-danger btn-sm btn"
                  (click)="openSellingCoin(sellCoin)"
                >
                  <i class="fa fa-dollar toSell"></i>
                </button>
                <ng-template #sellCoin>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">
                      Sell {{ getCoinName(coin.id) }}
                    </h4>
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="sellingCoin.hide()"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form
                      (submit)="onSellCoin(sellCoinForm, coin.id, wallet.id)"
                      #sellCoinForm="ngForm"
                    >
                      <input
                        name="ammount"
                        [ngClass]="{
                          'is-invalid':
                            ammountInput.errors && ammountInput.touched
                        }"
                        class="form-control"
                        ngModel
                        placeholder="{{ getCoinSymbol(coin.id) }} to sell"
                        type="number"
                        #ammountInput="ngModel"
                        required
                        [max]="coin.ammount"
                        ng-pattern="integerval"
                      />
                      <p [hidden]="!(sellCoinForm.value.ammount > 0)">
                        Value: ${{
                          getCoinValue(coin.id, sellCoinForm.value.ammount)
                            | number: "1.2-2"
                        }}
                      </p>
                      <div
                        [hidden]="!ammountInput.errors?.required"
                        class="invalid-feedback"
                      >
                        Must add an input
                      </div>
                      <div
                        [hidden]="!ammountInput.errors?.max"
                        class="invalid-feedback"
                      >
                        You can only sell a maximum of {{ coin.ammount }}
                        {{ getCoinSymbol(coin.id) }}
                      </div>
                      <button class="btn btn-block mt-3" type="submit">
                        Sell Coin
                      </button>
                    </form>
                  </div>
                </ng-template>
              </td>
            </tr>
          </tbody>
          <tr>
            <th scope="row">Total Value</th>
            <td>~</td>
            <td>{{ findTotalValue(wallet.id) }}</td>
            <td></td>
          </tr>
        </table>
      </tab>
    </div>
  </tabset>
</div>
