<ul class="list-unstyled m-3">
    <div *ngFor="let currencyProp of currencyProps">
        <ng-template let-currency="currency" [ngTemplateOutletContext]="{
          currency: currencyProp.currency
        }" [ngTemplateOutlet]="setCurrencyProp" #setCurrencyProp>
            <li class="card card-body mb-2 bg-light">
                <div class ="card-listing">
                    <span class="rank">#{{ currency.rank }}</span>
                    {{ currency.name }}
                    <div class="float-end">
                        <button (click)="toggleToBuy(currencyProp)" class="btn-dark btn" *ngIf="userIsAuthenticated">
                            <i class="fa fa-dollar" [ngClass]="currencyProp.toBuy ? 'toBuy' : ''"></i>
                        </button>
                        <button (click)="toggleFavorites(currencyProp)" class="btn-dark btn">
                            <i class="fa fa-star" [ngClass]="currencyProp.isFavorite ? 'isFav' : ''"></i>
                        </button>
                        <button (click)="toggleCurrencyHide(currencyProp)" class="btn-dark btn">
                            <i [ngClass]="currencyProp.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
                        </button>
                    </div>
                </div>
                <div class="stats-container" *ngIf="!currencyProp.hide">
    <div class="stat-item">
        <span class="stat-label">Value:</span>
        <span class="stat-value">{{ currency.USD.price | currency }}</span>
    </div>
    <div class="stat-item">
        <span class="stat-label">Market Cap:</span>
        <span class="stat-value">{{ currency.USD.market_cap | currency }}</span>
    </div>
    <div class="stat-item">
        <span class="stat-label">24h Volume:</span>
        <span class="stat-value">{{ currency.USD.volume_24h | currency }}</span>
    </div>
</div>
                <form #coinForm="ngForm" *ngIf="currencyProp.toBuy">
                    <div class="form-group">
                        <label>How much do you want to invest?($)</label>
                        <input [(ngModel)]="currencyProp.beingBought" [ngClass]="{
                  'is-invalid': curAmmount.errors && curAmmount.touched
                }" type="number" class="form-control" name="curAmmount" #curAmmount="ngModel" required min="1"
                            [max]="dollarAmmount" ng-pattern="integerval" />
                        <p [hidden]="!(currencyProp.beingBought > 0)">
                            {{ currency.symbol }}:
                            {{
                            currencyProp.beingBought / currency.USD.price
                            }}
                        </p>
                        <div [hidden]="!curAmmount.errors?.required" class="invalid-feedback">
                            Must add an input
                        </div>
                        <div [hidden]="!curAmmount.errors?.min" class="invalid-feedback">
                            You must spend at least $1
                        </div>
                        <div [hidden]="!curAmmount.errors?.max" class="invalid-feedback">
                            You can only invest a maximum of ${{ dollarAmmount }}
                        </div>
                        <button (click)="
                  buyCoin(currencyProp.beingBought, currency.id, curWalletId)
                " [disabled]="!coinForm.form.valid" class="btn btn-block btn-dark mb-3">
                            Buy Coin
                        </button>
                    </div>
                </form>
            </li>
        </ng-template>
    </div>
</ul>