<div class="container card">
    <div class="spinner-border" role="status" *ngIf="isLoading"></div>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <div class="form-group card-body">
      <h3 class="card-title">Account Creation</h3>
      <input name="userName" class="form-control" ngModel type="username" placeholder="User Name" #usernameInput="ngModel"
        required>
      <input name="email" class="form-control" ngModel type="email" placeholder="Email" #emailInput="ngModel" required
        email>
      <input name="password" class="form-control" ngModel type="password" placeholder="Password" #passwordInput="ngModel"
        required>
      <input name="confirmPassword" class="form-control" ngModel type="password" placeholder="Confirm Password"
        #confirmPasswordInput="ngModel" required>
      <button class="btn btn-block btn-dark mt-3" [disabled]="!signupForm.form.valid" type="submit">Sign Up!</button>
      <p>already have an account? <a routerLink="/login">Login!</a></p>
    </div>
  </form>
</div>
