<div class="spinner-border" role="status" *ngIf="isLoading"></div>
<div *ngIf="curWallet && wallets && currencies && !isLoading">
  <div class="form-group container" id="walletOptions">
    <div class="input-group" id="walletSelect">
      <select [(ngModel)]="curWallet" (ngModelChange) = "onChangeWallet($event)" class="form-control">
        <option *ngFor="let wallet of wallets" [ngValue]="wallet">{{
          wallet.name
        }}</option>
      </select>
      <button class="btn-info btn input-group-btn" (click) = "openNameWallet(nameWallet)">
        <i class="fa fa-pencil"></i>
      </button>
      <button class="btn-danger btn input-group-btn" (click) = "onDeleteWallet()">
          <i class="fa fa-trash"></i>
        </button>
        <button class="btn-success btn input-group-btn" (click)="openCreateWallet(addWallet)">
          <i class="fa fa-plus"></i>
        </button>
    </div>
  </div>
  <ng-template #addWallet>
    <div class="modal-header">
      <h4 class="modal-title pull-left">New Wallet</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="creatingWallet.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (submit)="onCreateWallet(addWalletForm)" #addWalletForm="ngForm">
        <input
          name="name"
          [(ngModel)]="curWallet.name"
          class="form-control"
          placeholder="Wallet Name"
          required
        />
        <div *ngIf="addWalletForm.controls.name.invalid && addWalletForm.controls.name.touched" class="invalid-feedback">
          Must add a name
        </div>
        <button
          class="btn btn-block btn-danger mt-3"
          type="submit"
          [disabled]="addWalletForm.invalid"
        >
          Add Wallet
        </button>
      </form>
    </div>
  </ng-template>
  <ng-template #nameWallet>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Change Wallet Name</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="walletName.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="onChangeName(nameWalletForm)" #nameWalletForm="ngForm">
          <input
            name="name"
            [ngClass]="{
              'is-invalid': nameInput.errors && nameInput.touched
            }"
            class="form-control"
            [ngModel] = "curWallet.name"
            value = "curWallet.name"
            #nameInput="ngModel"
            required
          />
          <div [hidden]="!nameInput.errors?.required" class="invalid-feedback">
            Must add a name
          </div>
          <button
            class="btn btn-block btn-danger mt-3"
            type="submit"
            [disabled]="!nameWalletForm.form.valid"
          >
            Change Name
          </button>
        </form>
      </div>
    </ng-template>
  <div class="container card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Coin</th>
          <th scope="col">Ammount</th>
          <th scope="col">Value($)</th>
          <th scope="col">Sell</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Dollars</td>
          <td>{{ curWallet.dollars }}</td>
          <td>{{ curWallet.dollars }}</td>
          <td></td>
        </tr>
      </tbody>
      <tbody *ngFor="let coin of curWallet.coins">
        <tr *ngIf="getCoinValue(coin.id, coin.ammount) > MINIMUM_DISPLAY_VALUE">
          <td scope="row">{{ getCoinName(coin.id) }}</td>
          <td>{{ coin.ammount }}</td>
          <td>{{ getCoinValue(coin.id, coin.ammount) }}</td>
          <td>
            <button
              class="btn-danger btn-sm btn"
              (click)="openSellingCoin(sellCoin)"
            >
              <i class="fa fa-dollar toSell"></i>
            </button>
            <ng-template #sellCoin>
              <div class="modal-header">
                <h4 class="modal-title pull-left">
                  Sell {{ getCoinName(coin.id) }}
                </h4>
                <button
                  type="button"
                  class="close pull-right"
                  aria-label="Close"
                  (click)="sellingCoin.hide()"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (submit)="onSellCoin(sellCoinForm, coin.id, curWallet.id)" #sellCoinForm="ngForm">
                  <input
                    name="ammount"
                    [(ngModel)]="sellCoinForm.value.ammount"
                    class="form-control"
                    placeholder="{{ getCoinSymbol(coin.id) }} to sell"
                    type="number"
                    required
                    [max]="coin.ammount"
                    pattern="^[0-9]*$"
                  />
                  <div *ngIf="sellCoinForm.controls.ammount.invalid && sellCoinForm.controls.ammount.touched" class="invalid-feedback">
                    <div *ngIf="sellCoinForm.controls.ammount.errors.required">
                      Must add an input
                    </div>
                    <div *ngIf="sellCoinForm.controls.ammount.errors.max">
                      You can only sell a maximum of {{ coin.ammount }} {{ getCoinSymbol(coin.id) }}
                    </div>
                  </div>
                  <p *ngIf="sellCoinForm.value.ammount > 0">
                    Value: ${{ getCoinValue(coin.id, sellCoinForm.value.ammount) | number: '1.2-2' }}
                  </p>
                  <button
                    class="btn btn-block btn-danger mt-3"
                    [disabled]="sellCoinForm.invalid"
                    type="submit"
                  >
                    Sell Coin
                  </button>
                </form>
              </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
      <tr>
        <th scope="row">Total Value</th>
        <td>~</td>
        <td>{{ findTotalValue(curWallet.id) }}</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
