<h2>About</h2>
<div class="about-container">
  <mat-accordion [multi]="false">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          What is CryptoKing?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Only the best WebApp Ever!! The app is a cryptocurrency investing game that tests your investing knowledge (and
        luck). Go head to head against your friends and see who can grow their portfolios the fastest!</p>
      <img src="../../../assets/images/doge.png" class="img-fluid">
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How Was This Made?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="../../../assets/images/meanstack.jpg" alt="" class="img-fluid">
      <p>All Through development with the MEAN stack! By watching several Angular/NodeJS/MongoDB tutorials, different
        parts of the app were pieced together. Once a firm understanding was had over the technology, improvements
        started rolling in.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can You Add ___ Feature?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Of Course!!! The app will continue to receive updates and bug fixes frequently. While several cool features are
        already in the works, I would love to hear any input you have on the app. You can contact me at
        baselbizniz&#64;gmail.com.</p>
      <img src="../../../assets/images/sun-replace.gif" alt="" class="img-fluid">
    </mat-expansion-panel>
  </mat-accordion>
</div>